{% extends "local/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <div class="container">
        <h2>Locais</h2>
    </div>
{% endblock header %}

{% block content %}
<div class="container">
    <br>

    <!-- Botão de Adicionar Novo Local -->
    <p><a href="{% url 'local:new_local' %}" class="btn btn-success mb-3">Adicionar Novo Local</a></p>

    <!-- Formulário de filtro -->
    <form method="get" class="form-inline mb-5">
        <label for="andamento">Filtrar locais com ocorrências:</label>
        <select name="andamento" id="andamento" class="form-control" style="width: auto; display: inline-block; margin: 0 10px;">
            <option value="">Todos</option>
            <option value="aguardando prazo" {% if filtro_andamento == 'aguardando prazo' %}selected{% endif %}>Aguardando prazo</option>
            <option value="vencido" {% if filtro_andamento == 'vencido' %}selected{% endif %}>Prazo vencido</option>
            <option value="resolvido" {% if filtro_andamento == 'resolvido' %}selected{% endif %}>Resolvido</option>
        </select>
        
        <label for="q">Buscar por Inscrição:</label>
        <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Digite a inscrição" style="width: auto; display: inline-block; margin: 0 10px;">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>

    <!-- Linha em branco entre filtro e locais -->
    <br><br> <!-- Esta linha adiciona um espaço em branco -->

    <!-- Lista de locais -->
    <div class="mt-5">
        {% for l in loc %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <span style="font-size: 1.5em;">{{ l.insc }}</span> - 
                            <a href="{% url 'local:vlocs' insc_id=l.id %}">Ver Ocorrências</a>
                        </div>
                        <div>
                            <a href="{% url 'local:edit_local' local_id=l.id %}" class="btn" style="background-color: #FFA500; color: white; border: none; padding: 5px 10px; border-radius: 3px;">Editar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Endereço: {{ l.endereco }}</p>
                    <p>Setor: {{ l.insc|slice:":2" }} - Quadra: {{ l.insc|slice:"2:4" }} - Lote: {{ l.insc|slice:"4:6" }}</p>
                </div>
            </div>
        {% empty %}
            <p>Não há locais correspondentes ao filtro.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
